In [3]:
import pandas as pd
# import numpy as np
from sqlalchemy import create_engine

In [11]:

# Define the connection parameters
server = 'localhost'
database = 'ContosoRetailDW'
username = 'Mek'
password = 'Asdmkpzxc01'

# Create the connection string
conn_str = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"

# Create the SQLAlchemy engine
engine = create_engine(conn_str)

In [23]:
# with engine.connect()
# Define the SQL query
query = "SELECT * FROM dbo.DimChannel"

# Load the data into a pandas DataFrame
df = pd.read_sql(query, engine)

# Display the DataFrame
df.head()

,ChannelKey,ChannelLabel,ChannelName,ChannelDescription,ETLLoadID,LoadDate,UpdateDate
0,1,01,Store,Store,1,2009-07-11 14:43:19,2009-07-11 14:43:19
1,2,02,Online,Online,1,2009-07-11 14:43:19,2009-07-11 14:43:19
2,3,03,Catalog,Catalog,1,2009-07-11 14:43:19,2009-07-11 14:43:19
3,4,04,Reseller,Reseller,1,2009-07-11 14:43:19,2009-07-11 14:43:19

In [24]:
df.head()

,ChannelKey,ChannelLabel,ChannelName,ChannelDescription,ETLLoadID,LoadDate,UpdateDate
0,1,01,Store,Store,1,2009-07-11 14:43:19,2009-07-11 14:43:19
1,2,02,Online,Online,1,2009-07-11 14:43:19,2009-07-11 14:43:19
2,3,03,Catalog,Catalog,1,2009-07-11 14:43:19,2009-07-11 14:43:19
3,4,04,Reseller,Reseller,1,2009-07-11 14:43:19,2009-07-11 14:43:19

In [13]:
import findspark
findspark.init()

In [14]:
import pandas as pd
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [16]:
# create spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.executor.memory", "16g") \
    .config("spark.executor.cores", "6") \
    .config("spark.driver.memory", "16g") \
    .config("spark.sql.shuffle.partitions", "6")\
    .config("spark.jars.packages", "com.microsoft.sqlserver:mssql-jdbc:12.6.2.jre8") \
    .getOrCreate()

In [17]:
# Define the connection parameters

jdbc_url = f"jdbc:sqlserver://{server};databaseName={database}"
connection_properties = {
    "user": username,
    "password": password,
    "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

In [26]:
# Read the table into a Spark DataFrame
sdf = spark.createDataFrame(df)
sdf.show()

+----------+------------+-----------+------------------+---------+-------------------+-------------------+
|ChannelKey|ChannelLabel|ChannelName|ChannelDescription|ETLLoadID|           LoadDate|         UpdateDate|
+----------+------------+-----------+------------------+---------+-------------------+-------------------+
|         1|          01|      Store|             Store|        1|2009-07-11 14:43:19|2009-07-11 14:43:19|
|         2|          02|     Online|            Online|        1|2009-07-11 14:43:19|2009-07-11 14:43:19|
|         3|          03|    Catalog|           Catalog|        1|2009-07-11 14:43:19|2009-07-11 14:43:19|
|         4|          04|   Reseller|          Reseller|        1|2009-07-11 14:43:19|2009-07-11 14:43:19|
+----------+------------+-----------+------------------+---------+-------------------+-------------------+

In [2]:
spark

NameError: name 'spark' is not defined