Sets

In [3]:
set("aaabcbc")

{'a', 'b', 'c'}

In [5]:
{"a","b","c","d","d"}

{'a', 'b', 'c', 'd'}

In [8]:
s = set("aaabcbc")
s

{'a', 'b', 'c'}

In [10]:
s.add("d")
s

{'a', 'b', 'c', 'd'}

In [11]:
"d" in s

True

In [12]:
s.pop()

'd'

In [13]:
s

{'a', 'b', 'c'}

In [14]:
s.remove("b")

In [15]:
s

{'a', 'c'}

Set operations

In [16]:
s1 = set(range(3))
s1

{0, 1, 2}

In [17]:
s2 = set("Herman")
s2

{'H', 'a', 'e', 'm', 'n', 'r'}

In [18]:
s1.isdisjoint(s2)

True

In [19]:
s3 = set([1,3])
s3

{1, 3}

In [20]:
s1.isdisjoint(s3)

False

### subset
all items of first set are found in the second

In [21]:
s1 = set(range(10))
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
s2 = set(range(2,6))
s2

{2, 3, 4, 5}

In [23]:
s1.issubset(s2)

False

In [24]:
s2.issubset(s1)

True

### Superset
All item of second set are found in the first

In [25]:
s1.issuperset(s2)

True

In [26]:
s2.issuperset(s1)

False

### Union
return a set containing all the items from two sets

In [27]:
s3 = set(range(10))
s3

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
s4 = set("Herman")
s4

{'H', 'a', 'e', 'm', 'n', 'r'}

In [30]:
s3.union(s4)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'H', 'a', 'e', 'm', 'n', 'r'}

### Interaction
Set contain items that exists in both sets

In [31]:
s5 = set(range(5))
s5

{0, 1, 2, 3, 4}

In [32]:
s6 = set(range(2,9))
s6

{2, 3, 4, 5, 6, 7, 8}

In [33]:
s6.intersection(s5)

{2, 3, 4}

### Difference
Items from first set that are not in second

In [34]:
s5.difference(s6)

{0, 1}

In [35]:
s6.difference(s5)

{5, 6, 7, 8}

### Nest

In [37]:
list_of_lists = [["a","b","c"],["d","e","f"],["g","h","i"]]
flat = []
for sub_list in list_of_lists:
    for item in sub_list:
        flat.append(item)
flat

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [38]:
[item for sub_list in list_of_lists for item in sub_list]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

### Generator Experssions

In [40]:
large_num = 9999999
l_squares = [x**2 for x in range(large_num)]

In [41]:
import sys
sys.getsizeof(l_squares)

89095160

In [57]:
g_squares = (x**2 for x in range(large_num))
sys.getsizeof(g_squares)

200

In [58]:
g_squares

In [59]:
next(g_squares)

0

In [60]:
for x in g_squares:
    print(x)
    if x > 12:
        break

1
4
9
16

### Chaining Generator Experessions

In [61]:
evens = (x for x in range(0,100,2))
div_three = (y for y in evens if y%3 == 0)
div_three

In [62]:
next(div_three)

0

In [63]:
[x for x in div_three]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

### Generator Functions

In [67]:
# yield returns value but remmeber the status

def return_num():
    for x in range(5):
        yield x

gen_num = return_num()

In [70]:
next(gen_num)

2

In [71]:
def counter():
    x=0
    while True:
        yield x
        x+= 1

count = counter()

In [74]:
next(count)

2

In [75]:
def fib():
    for cur in (0,1):
        last = cur
        yield cur
    while True:
        yield cur
        last,cur = cur, last + cur

In [77]:
f = fib()

In [83]:
next(f)

5